/* styles.css */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

.container {
  text-align: center;
  width:80%;
  height:80%;
}

header, p, footer {
  margin: 10px 0;
}

.linkedin-img {
  vertical-align: middle;
}
